* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    font-size: 24px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: black;
    background-color: bisque;
}

nav{
    color: gray;
    background-color: pink;

    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:center;

}

nav>ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

nav>ul>li{
    margin-left: 15px;
}